antwaters_api_user_management/node_modules
appointment-management-service/node_modules
gateway/node_modules
medical_record_service/node_modules
medication-health-tracking-service/node_modules
messaging-communication-service/node_modules

antwaters_api_user_management/.git